<mediawiki xmlns="http://www.mediawiki.org/xml/export-0.7/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mediawiki.org/xml/export-0.7/ http://www.mediawiki.org/xml/export-0.7.xsd" version="0.7" xml:lang="en">
  <siteinfo>
    <sitename>Akban-wiki</sitename>
    <base>http://www.akban.org/wiki/Main_Page</base>
    <generator>MediaWiki 1.20alpha</generator>
    <case>first-letter</case>
    <namespaces>
      <namespace key="-2" case="first-letter">Media</namespace>
      <namespace key="-1" case="first-letter">Special</namespace>
      <namespace key="0" case="first-letter" />
      <namespace key="1" case="first-letter">Talk</namespace>
      <namespace key="2" case="first-letter">User</namespace>
      <namespace key="3" case="first-letter">User talk</namespace>
      <namespace key="4" case="first-letter">Akban-wiki</namespace>
      <namespace key="5" case="first-letter">Akban-wiki talk</namespace>
      <namespace key="6" case="first-letter">File</namespace>
      <namespace key="7" case="first-letter">File talk</namespace>
      <namespace key="8" case="first-letter">MediaWiki</namespace>
      <namespace key="9" case="first-letter">MediaWiki talk</namespace>
      <namespace key="10" case="first-letter">Template</namespace>
      <namespace key="11" case="first-letter">Template talk</namespace>
      <namespace key="12" case="first-letter">Help</namespace>
      <namespace key="13" case="first-letter">Help talk</namespace>
      <namespace key="14" case="first-letter">Category</namespace>
      <namespace key="15" case="first-letter">Category talk</namespace>
      <namespace key="102" case="first-letter">Property</namespace>
      <namespace key="103" case="first-letter">Property talk</namespace>
      <namespace key="108" case="first-letter">Concept</namespace>
      <namespace key="109" case="first-letter">Concept talk</namespace>
    </namespaces>
  </siteinfo>
  <page>
    <title>Main Page</title>
    <ns>0</ns>
    <id>10255</id>
    <revision>
      <id>30257</id>
      <parentid>30058</parentid>
      <timestamp>2014-12-11T12:44:43Z</timestamp>
      <contributor>
        <username>Yossi Sheriff</username>
        <id>3</id>
      </contributor>
      <minor/>
      <sha1>73zyxo8dofykyu6gi1ferhyhl7c4soo</sha1>
      <text xml:space="preserve" bytes="6576">&lt;div class=&quot;leftcol&quot;&gt;
=== About the AKBAN wiki ===
'''The AKBAN wiki is one of the largest Martial arts data bases on the internet.''' We have {{NUMBEROFPAGES}} Pages in the [http://www.akban.org/wiki/index.php/Main_Page AKBAN wiki], {{NUMBEROFARTICLES}}  video techniques and articles,  {{NUMBEROFFILES}} martial arts' images uploaded, 2 admins, one of them is sole the editor these days.

In our academy, [http://www.akban.org/about/ AKBAN], we think that martial arts are a vast sub-culture with different lineages, perspectives and goals. This martial arts wiki is [http://www.akban.org/about/ our] effort to document and discover the hidden links.&lt;br /&gt;

I am the [http://www.akban.org/about/sheriff.php AKBAN academy headmaster]. Nobody is sponsoring this project, no products are sold - I finance, but mainly write, this decades long project. I film and document not just [[Ninjutsu]] and [[Portal: Ninjutsu|Ninjutsu techniques]] but martial arts that intersect with it. The [http://www.youtube.com/user/ninjalla videos] are uploaded to various CDNs with a [http://creativecommons.org/licenses/by-nc-sa/3.0/ creative commons] license, so you can use the videos non-commercially. From 2011 I will focus solely on my art. Ninjutsu syllabus is so vast that I haven't covered more than a third of it.  &lt;br /&gt;
'''[http://www.akban.org/about/sheriff.php Yossi Sheriff]'''&lt;br /&gt;
[[File:Budo Ninjutsu stamp small.jpg|link=|Yossi Sheriff]]
&lt;br /&gt;
&lt;/div&gt;
&lt;div class=&quot;rightcol&quot;&gt;&lt;br /&gt;
&lt;br /&gt;

Few words about Ninjutsu, the core martial art that we practice in [http://www.akban.org/about/ Akban]. Ninjutsu is a traditional mixed martial art, it is eclectic in the best sense: Teachers in our line, [[Takamatsu den]], have collected not only techniques but whole systems ([[Ryu|Ryuha]]). In AKBAN I have been preserving our [[Kata]] while practicing other disciplines that improve our combat skills.  

This wiki is expanding slowly, I am probably the sole contributor now, but it already includes thousands of articles and videos. I am always around to mail advice or correct my own errors. If you are up to it, you can apply for an [[Akban-wiki editor position]] or just say hello on our intimate [https://www.facebook.com/akban.academy facebook page].

{{Portal list}}
&lt;/div&gt;
&lt;div style=&quot;clear: both; height: 20px;&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;leftcol&quot;&gt;&lt;h1 style=&quot;color: #f00;&quot;&gt;Welcome to AKBAN wiki'''&lt;/h1&gt;
The most comprehensive [[Portal: Ninjutsu|Ninjutsu techniques]] source. Period.  

--------------------------------------------------

'''[[:Category:Belts - Grade requirements - Ninjutsu|Belts - Yellow belt to 5th Dan]]'''  
[[File:Yellow belt.svg|32px|image yellow|link=:Category:Belts - Grade requirements - Ninjutsu ]]    ↔   
[[File:Black belt.svg|32px|image black|link=:Category:Belts - Grade requirements - Ninjutsu]]
&lt;br /&gt;
Combat Ninjutsu exam requirements from admission to graduation

------------------------------------------------------------
'''[[:Category:Ninjutsu training and lessons in video|Recent Ninjutsu training sessions]]'''  
&lt;br /&gt;
[[File:Ninjutsu lessons.jpeg|Ninjutsu training and moves|link=:Category:Ninjutsu training and lessons in video]]&lt;br /&gt;
Daily video from Yossi Sheriff

-------------------------------------------------------------
'''[[Ninjutsu combat stances - Kamae|Ninjutsu combat stances - Kamae]]'''&lt;br /&gt;
[[File:Kamae.jpg|image for index, kamae|link=Ninjutsu combat stances - Kamae]]&lt;br /&gt;
Proper stances and uses

------------------------------------------------------------
'''[[:Category:Kansetsu-waza (関節技): joint locks|Ninjutsu joint locks and armlocks]]'''&lt;br /&gt;
[[File:Lock.jpg|image for index, lock|link=:Category:Kansetsu-waza (関節技): joint locks]]&lt;br /&gt;
Control, breakage or spraining

----------------------------------------------------------
'''[[:Category:Nage-waza (投げ技): throwing techniques|Ninjutsu throws and takedowns]]'''&lt;br /&gt;
[[File:Throw.jpg|Ninjutsu throws|link=:Category:Nage-waza (投げ技): throwing techniques]]&lt;br /&gt;
Off balancing and takedowns

---------------------------------------------------------
'''[[:Category:Geri - kicks|Ninjutsu Kicks]]'''&lt;br /&gt;
[[File:Kick.jpg|Ninjutsu kicks|link=:Category:Geri - kicks]]&lt;br /&gt;
Using the legs to injure

-------------------------------------------------
'''[[:Category:Punches|Ninjutsu strikes]]'''&lt;br /&gt;
[[File:Punches.jpg|Ninjutsu punches|link=:Category:Punches]]&lt;br /&gt;
Hitting to control or knockout

----------------------------------------
'''[[Portal:Traditional weapons|Weapons]]'''&lt;br /&gt;
[[File:Weapons.jpg|traditional weapons|link=Portal:Traditional weapons]]&lt;br /&gt;
Japanese sword, stick, chain and Kunai 

------------------------------------------

'''[[:Category:Sabaki - movement|Ninjutsu movement - Sabaki]]'''&lt;br /&gt;
[[File:Sabaki.jpg|taijutsu sabaki|link=:Category:Sabaki - movement]]&lt;br /&gt;
Evasion, closing the distance, rolls and breakfalls 

&lt;/div&gt;
&lt;div class=&quot;rightcol&quot;&gt;
&lt;br /&gt;
&lt;br /&gt;
&lt;br /&gt;

&lt;h3&gt;&lt;b&gt;&lt;big&gt;Ninjutsu Techniques by Ryu: Takamatsu den ancient systems &lt;/big&gt;&lt;/b&gt;&lt;/h3&gt;
[[File:Ninja gun.jpg|image for takamatsu den|link=:Category:Ninjutsu techniques by Ryu - Takamatsu Den systems of combat]]&lt;br /&gt;
*[[:Category: Techniques - Kukishinden Ryu|Kukishin Ryū techniques]], 九鬼神流 - The Nine demons school&lt;br /&gt;
*[[:Category:Techniques - Koto Ryu|Koto Ryu techniques]], 虎倒流 - Tiger Knocking Down School 
*[[:Category: Techniques - Gyokko Ryu|Gyokko Ryu techniques]], 玉虎流 - The Jade tiger school 
*[[:Category:Techniques - Fudo Ryu|Shinden Fudo Ryu techniques]], 神傳不動流打 - The immovable god school
*[[:Category:Techniques - Takagi Yoshin Ryu |Takagi Yoshin Ryu]], 高木揚心流 
Few Ryu are missing, but I am working on it. 

------------------------------------------------------


'''I have started documenting other Martial arts on this wiki''' 
&lt;h3&gt;&lt;b&gt;&lt;big&gt;Judo&lt;/big&gt;&lt;/b&gt;&lt;/h3&gt;
&lt;categorytree mode=&quot;all&quot; depth=&quot;1&quot; hideroot=&quot;on&quot;&gt;Judo techniques&lt;/categorytree&gt;
&lt;h3&gt;&lt;b&gt;&lt;big&gt;Muai Thai, Tai boxing&lt;/big&gt;&lt;/b&gt;&lt;/h3&gt;
&lt;categorytree mode=&quot;all&quot; depth=&quot;1&quot; hideroot=&quot;on&quot;&gt;Muay Tai - Tai boxing techniques&lt;/categorytree&gt;
&lt;h3&gt;&lt;b&gt;&lt;big&gt;BJJ, Brazilian Jujitsu&lt;/big&gt;&lt;/b&gt;&lt;/h3&gt;
&lt;categorytree mode=&quot;all&quot; depth=&quot;1&quot; hideroot=&quot;on&quot;&gt;Techniques - BJJ - Brazilian Jujitsu&lt;/categorytree&gt;
&lt;h3&gt;&lt;b&gt;&lt;big&gt;Capoeira &lt;/big&gt;&lt;/b&gt;&lt;/h3&gt;
&lt;categorytree mode=&quot;all&quot; depth=&quot;1&quot; hideroot=&quot;on&quot;&gt;Capoeira techniques&lt;/categorytree&gt;&lt;br /&gt;
&lt;br /&gt;

&lt;h3&gt;Weekly video&lt;/h3&gt;
&lt;youtube&gt;E08ea-AeUiQ&lt;/youtube&gt;&lt;br /&gt;
&lt;/div&gt;
&lt;div style=&quot;clear: both; height: 20px;&quot;&gt;&lt;/div&gt;
-------------------------------------------

[[Type::website| ]]

__NOTOC__</text>
    </revision>
  </page>
</mediawiki>
